@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.legal {
  padding: $header-height + 57px 0 120px;

  @include respond($breakpoint-mobile) {
    padding: $header-height + 32px 0 80px;
  }
}

.legal__content {
  @include content-width;
  max-width: 1032px + 2 * $page-padding;
}

.legal__title {
  margin-bottom: 64px;
  @include section-title;

  @include respond($breakpoint-mobile) {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

.legal__block + .legal__block {
  margin-top: 35px;
}

.legal__subtitle {
  font-weight: 700;
  font-size: 33px;
  line-height: 1.2;
  color: $color-green;

  @include respond($breakpoint-mobile) {
    font-size: 24px;
  }
}

.legal__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.legal__date {
  margin-top: 35px;
}

.legal__link {
  color: $color-green;

  &:hover {
    text-decoration: underline;
  }
}

// Schwarzer Footer mit leicht schräger Oberkante
.legal-footer {
  padding-top: 109px;
  background-color: $color-black;
  @include slanted-top(37px);

  @include respond($breakpoint-mobile) {
    padding-top: 90px;
    @include slanted-top(14vw);
  }
}
