@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

// Schwarze Fläche mit schräger Oberkante für Kontakt und Footer
.contact-area {
  position: relative;
  margin-top: -119px;
  padding-top: 182px;
  background-color: $color-black;
  @include slanted-top(177px);

  @include respond($breakpoint-tablet) {
    @include slanted-top(120px);
  }

  @include respond($breakpoint-mobile) {
    margin-top: -70px;
    padding-top: 53px;
    @include slanted-top(12.5vw);
  }
}
